/* -------body--------- */

body{
  background-color:#fff;
  margin: 0;
  /* -webkit-appearance: none; */
}


/* -------header--------- */

.header_1{
height: 40px;
padding: 8px;
background-color: rgb(248,248,248);
border-bottom: solid 1px rgb(229,231,235);
text-align: center;
max-width: 100%;
}

.header_logo{
  height: 40px;
}

.header_2{
  height: 36px;
  padding: 8px;
  background-color: #fff;
  border-bottom: solid 1px rgb(229,231,235);
  display: flex;
  justify-content: center;
  align-items: center;
}


/* -------footer--------- */

.footer_1{
  position: fixed;
  bottom: 0;
  height: 62px;
  box-sizing: border-box;
  padding-left: 20vw;
  background-color: rgb(248,248,248);
  border-top: solid 1px rgb(229,231,235);
  text-align: center;
  width: auto;
}

.footer_1_list{
  width: 18vw;
}

.footer_1_icons{
  display: flex;
  justify-content: space-evenly;
  font-size: 0.875rem;
  padding: 10px 0;
  overflow-x: scroll;
	white-space: nowrap;
}

.footer_1_icons img{
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;

}

/* .footer_1_icons p {
  margin: 0;
  padding: 0;
} */

.fixed_1{
  position: fixed;
  left: 0;
  bottom: 0px;
  z-index: 999;
  height: 42px;
  width: 18vw;
  padding-left: 2vw;
  border-right: 1px solid #707070;
  background-color: #F8F8F8;
}


/* footer2 */

.footer_2{
  position: fixed;
  bottom: 62px;
  height: 93px;
  box-sizing: border-box;
  padding-left: 20vw;
  background-color: #F8ECEA;
  border-top: solid 1px rgb(229,231,235);
  text-align: center;
  width: auto;
}

.footer_2_list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_2_icons{
  display: flex;
  justify-content: space-evenly;
  font-size: 0.6rem;
  padding: 10px 2vw;
  overflow-x: scroll;
	white-space: nowrap;
  border-top: dashed 1px #BEBEBE;
}


.footer_2_icons img{
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;

}

/* .footer_2_icons p {
  margin: 0;
  padding: 0;
} */

.fixed_2{
  position: fixed;
  left: 0;
  bottom: 62px;
  z-index: 999;
  height: 73px;
  width: 18vw;
  padding: 10px 0 10px 2vw;
  border-right: 1px solid #707070;
  background-color: #F8ECEA;
}



.item_thumbnail{
  background-color: #fff;
  border: 0.5px solid #BEBEBE;
  border-radius: 1vh;
  margin: 0 1vw;
  width: 40px;
}

.item_thumbnail img {
  border-top: 0.5px solid #BEBEBE;
  border-bottom: 0.5px solid #BEBEBE;
  width: 40px;
  padding:8px 0;
}

.item_thumbnail p {
  width: 40px;
  padding:2px 0;
}




/* footer3 */

.footer_3{
  position: fixed;
  bottom: 155px;
  height: auto;
  box-sizing: border-box;
  padding-left: 20vw;
  background-color: #F8ECEA;
  border-top: solid 1px rgb(229,231,235);
  text-align: center;
  width: auto;
}

.footer_3_list{
  width: auto;
}

.footer_3_icons{
  display: flex;
  justify-content: space-evenly;
  font-size: 0.675rem;
  padding: 6px 0;
  overflow-x: scroll;
	white-space: nowrap;
}

/* .footer_3_icons img{
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;

} */

.footer_3_icons p {
  padding: 0 4vw;
}

.fixed_3{
  position: fixed;
  left: 0;
  bottom: 155px;
  z-index: 997;
  height: auto;
  width: 18vw;
  padding-left: 2vw;
  border-right: 1px solid #707070;
  background-color: #F8ECEA;
}

