/* -------body--------- */


body{
  background-color:#fff;
  margin: 0;
  /* -webkit-appearance: none; */
  font-family: 'mr-eaves-modern', sans-serif;
  overflow-wrap: break-word;
}


/* -------header--------- */

.header_1{
height: 40px;
padding: 8px;
background-color: rgb(248,248,248);
border-bottom: solid 1px rgb(229,231,235);
text-align: center;
max-width: 100%;
}

.header_logo{
  height: 40px;
}

.header_2{
  height: 36px;
  padding: 8px;
  background-color: #fff;
  border-bottom: solid 1px rgb(229,231,235);
  display: flex;
  justify-content: center;
  align-items: center;
}


/* -------footer--------- */

.footer_1{
  position: fixed;
  bottom: 0;
  height: 62px;

  width: 100%;

  box-sizing: border-box;
  padding-left: 20vw;

  background-color: rgb(248,248,248);
  border-top: solid 1px rgb(229,231,235);
  text-align: center;

}

.footer_1_list{
  display: flex;
  align-items: center;

  height: 42px;
  padding: 8px 0 12px 0;

  overflow-x: scroll;
  white-space: nowrap;

  font-size: 0.875rem;

}


.footer_1_item{
  width: 18vw;
}

.footer_1_item img{
  height: 24px;
  margin: 0;
  padding: 0;
}

.footer_1_item p{
  width: 18vw;
}


.footer_1_fixed{
  position: fixed;
  left: 0;
  bottom: 0px;
  z-index: 999;

  height: 42px;
  width: 18vw;
  padding: 8px 0 12px 2vw;

  border-right: 1px solid #707070;
  background-color: #F8F8F8;
  font-size: 0.875rem;

}


/* footer2 */

.footer_2{
  position: fixed;
  bottom: 62px;
  height: 93px;

  width: 100%;


  box-sizing: border-box;
  padding-left: 20vw;
  border-top: solid 1px rgb(229,231,235);

  background-color: #F8ECEA;
  text-align: center;
 
}

.footer_2_list{
  display: flex;

  overflow-x: scroll;
	white-space: nowrap;

  height: 73px;  
  padding: 10px 2vw;

  border-top: dashed 1px #BEBEBE;
  font-size: 0.6rem;
}


.item_thumbnail{
  background-color: #fff;
  border: 0.5px solid #BEBEBE;
  border-radius: 1vh;
  margin: 0 2vw 0 0;
  width: 40px;
}

.footer_2_item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list_detail_1{
  background-color: #fff;
  border-bottom: 0.5px solid #BEBEBE;
  border-radius: 1vh 1vh 0 0;
  margin: 0 1vw;
  width: 40px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list_detail_1 p {
  width: 40px;
}

.list_detail_2{
  display: flex;
  background-color: #fff;
  margin: 0 1vw;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.list_detail_2 img{
  width: 24px;
  height: 24px;
}

.list_detail_3{
  background-color: #fff;
  border-top: 0.5px solid #BEBEBE;
  border-radius: 0 0 1vh 1vh;
  margin: 0 1vw;
  width: 40px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list_detail_3 p{
  font-size: 8px;
  width: 40px;
}


.footer_2_fixed{
  position: fixed;
  left: 0;
  bottom: 62px;
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 73px;  
  width: 18vw;
  padding: 10px 0 10px 2vw;

  border-right: 1px solid #707070;
  border-top: dashed 1px #BEBEBE;
  background-color: #F8ECEA; 
  font-size: 0.6rem;
}




/* footer3 */

.footer_3{
  position: fixed;
  bottom: 155px;
  height: 23px;

  display: flex;

  width: 100%;

  box-sizing: border-box;
  padding-left: 20vw;
  border-top: solid 1px rgb(229,231,235);

  background-color: #F8ECEA;
  text-align: center;
}

.footer_3_list{
  display: flex;

  overflow-x: scroll;
	white-space: nowrap;



  font-size: 0.675rem;

}

.footer_3_list p {
  padding: 0 4vw;
}

.footer_3_item{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
}



.footer_3_fixed{
  position: fixed;
  left: 0;
  bottom: 155px;
  z-index: 997;

  height: 23px;
  width: 18vw;
  padding: 0px 0 0px 2vw;

  border-right: 1px solid #707070;
  background-color: #F8ECEA;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
}
